In [1]:
import numpy as np
import pandas as pd
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [2]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [32]:
pets.loc[pets['age']==min(pets['age']),'sex']

8    F
Name: sex, dtype: object

In [34]:
pets['age']

0    21
1    45
2    23
3    56
4    47
5    70
6    34
7    30
8    19
9    62
Name: age, dtype: int32

In [39]:
pets['num_pets'] = pets['pets'].apply(lambda a : len(a))

In [38]:
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [53]:
new = pets['pets'].apply(pd.Series).stack().reset_index(drop =True)

In [54]:
new

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [61]:
new.value_counts()

cat        5
dog        4
hamster    2
gerbil     2
rabbit     1
fish       1
dtype: int64

In [70]:
pets.loc(pets['pets'].apply(lambda x: 'dog' in x),'age')

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [63]:
new

False